<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Single Absurd Artist
        </title>
    </head>
    <style type="text/css">
        body {
            background-color: rgb(186, 186, 186);
            color: rgb(2, 121, 213);
            font-size: 1.5em;
        }
        </style>
    <body>
        <h1>
            Absurd Artist: {{artist.name}}
        </h1>
        <p class="t-genre">Absurd genre: {{artist.genre}}</p>

        <p>
            <a href="/artists">Go back to the absurd artist list</a>
        </p>
    </body>
</html>