<DOCTYPE html>
<html lang="en">
    <head>
        <title>Single Absurd Album</title>
    </head>
    <style type="text/css">
        body {
            background-color: rgb(186, 186, 186);
            color: rgb(2, 121, 213);
            font-size: 1.5em;
        }
        </style>
    <body>
        <h1>Absurd Album: {{album.title}}</h1>
        <p class='t-release-year'>Released: {{album.release_year}}</p>   

        <p>
        <a href="/albums">Go back to the absurd list</a>
        </p>
    </body>
</html>